<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/page">Page</a></li>
            <li><a href="/not-page">Not Found</a></li>
            <li><a href="/error">Error</a></li>
        </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright Commando-PHP </a>.
        {% endblock %}
    </div>
</body>
</html>