{% extends "layout.twig" %}

{% block title %}
    Not Found - Commando Sample
{% endblock %}

{% block content %}
    <h1>404 Not Found</h1>
    <p>The page your requested was not found.</p>
{% endblock %}
